* {
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
html{
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(107, 93, 76, 0.5)),
    url("../images/bg_image.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 100%;
  padding: 0;
}

.grid-container {
  display: grid;
  margin: auto;
  max-width: 1300px;
  justify-content: center;
  grid-template-columns: 1.2fr 1.2fr;
  grid-template-rows: .5fr .5fr .5fr .5fr 100px;
  gap: 1rem;
  grid-template-areas:
    "status ."
    "game-area title"
    "game-area options"
    "game-area ."
    "game-area .";
}

.title {
  grid-area: title;
  margin-top: 1rem;
  font-size: 5rem;
  color: #fee5c8;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.5);
}

.grid-item {
  border-radius: 1rem;
  background: #fee5c8;
  border: 2px solid black;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.5);
  
}

.grid-item-1 {
  grid-area: status;
}

.progress-bar{
  border: 2px solid black;
  height: 1.4rem;
  margin-inline: 1rem;
  border-radius: 1rem;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.progress{
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5),
  inset -5px -5px 10px rgba(141, 210, 127, 0.5);
  background-color: #8DD27F;
  height: 100%;
  border-radius: 1rem;
  width: 10%;
  border-right: 2px solid black;
  transition: all .5s;
}
.counter{
  display: flex;
  padding-inline: 1rem;
  bottom:0;
}
.mistakes{
  margin-left: 1rem;
}
.percentage{
  margin-left: auto;
}

.grid-item-2 {
  padding: .5rem;
  display: grid;
  grid-area: game-area;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-content: center;
  align-items: center;

}

.image-card {
  border-radius: 1rem;
  background: #6b5d4c;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  margin: 0;
}
.grid-item-3 {
  padding: 1rem;
  grid-area: options;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .6rem;
}

.label{
  font-weight: bold;
}

.option{
  text-align: center;
}

@media (max-width: 1200px) {
  .grid-container {
    aspect-ratio: 1/2;
    grid-template-rows: .2fr .2fr 1fr 1fr .5fr;
    grid-template-areas:
      "title title"
      "status status"
      "game-area game-area"
      "game-area game-area"
      "options options";

  }

  .grid-item-2 {

    min-height: 500px;

  
  }


}



