:root{
  --border-radius: .5rem;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
html{
  padding: 0;
  margin: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(107, 93, 76, 0.5)),
    url("../images/bg_image.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 100%;
  padding: 0;
}

.grid-container {
  display: grid;
  margin: auto;
  max-width: 1300px;
  justify-content: center;
  grid-template-columns: minmax(250px, 600px) minmax(250px, 380px);
  gap: 1rem;
  grid-template-areas:
    "game-area status"
    "game-area options"
    "game-area reset"
}

.title {
  grid-area: title;
  margin: 0;
  margin-bottom: .7rem;
  font-size: 5rem;
  color: #fee5c8;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.5);
}

.grid-item {
  border-radius: var(--border-radius);
  background: #fee5c8;
  border: 2px solid black;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.5);
  
}

.grid-item-1 {
  grid-area: status;
}

.grid-item-1 p{
  padding: 0;
}
.timer{
  margin-top: .5em;
}

.progress-bar{
  border: 2px solid black;
  height: 20px;
  margin-inline: 1rem;
  border-radius: var(--border-radius);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.5);
}



.progress{
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5),
  inset -5px -5px 10px rgba(141, 210, 127, 0.5);
  background-color: #8DD27F;
  height: 100%;
  border-radius:var(--border-radius);
  width: 10%;
  border-right: 2px solid black;
  transition: width .5s;
}
.counter{
  display: flex;
  padding-inline: 1rem;
  bottom:0;
}
.mistakes{
  padding-top: 0;
  margin-left: 1rem;
}
.percentage{
  padding: 0;
  margin-left: auto;
}

.grid-item-2 {
  position: relative;
  padding: .5rem;
  display: grid;
  grid-area: game-area;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-content: center;
  align-items: center;

}

.start-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.card-container {
  position:relative;
  border-radius: var(--border-radius);
  background: #6b5d4c;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

.the-card{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s ease;
}


.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-front{
  background-image: url("../images/my_logo.png");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;

  color: white;
}
.card-back{
  color: black;
  transform: rotateY(180deg);
}


.grid-item-3 {
  padding: 1rem;
  padding-inline: 1.5rem;
  grid-area: options;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .6rem;
  text-align: left;
}

.label{
  font-weight: bold;
  margin:0;
  padding: 0;
  line-height: 3rem;
}

.option{
  text-align: center;
}

.reset-btn{
  grid-area: reset;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: #fee5c8;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
}

select{
  background-color: #6b5d4c;
  color: #fee5c8;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
}

select option{
  text-align: center;
}


@media (max-width: 1200px) {
  .grid-container {

    width: 100%;
    aspect-ratio: 1/2;
    grid-template-columns: .5fr;
    grid-template-rows: .2fr .2fr .2fr .2fr ;
    grid-template-areas:
      "status"
      "game-area"
      "options"
      "reset";
    align-items: center;
  }

  .grid-item-2 {

    min-height: 500px;

  
  }
}

@media(max-width: 900px){
  .grid-container{
    grid-template-columns: .8fr;
  }
}

@media (max-width: 500px){
  .grid-container{
    grid-template-columns: 1fr;
  }
}


